.section_author {
  padding: 9.6rem 0;
}

.author {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(229, 199, 199);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.075);

  background-image: linear-gradient(90deg, #f5f4fb, #fff);
  overflow: hidden;
  height: 90rem;
}

.author-img-box {
  background-image: url("./img/xabout.jpg.pagespeed.ic.-j2kfNwXDg.webp");
  background-size: cover;
  background-position: center;
}

.author-text-box {
  padding: 9.6rem 6.4rem;
  color: #6a7695;
}

.author_text {
  padding-top: 5.4rem;
  text-decoration: none;
}
.author-link:link,
.author-link:visited {
  text-decoration: none;
}
.author-bio {
  line-height: 4.8rem;
}
.author-bio span {
  font-weight: 900;
}
