.section-featured {
  padding: 4.8rem 0;
}

.heading_featured_in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.4rem;
  filter: brightness(0);
  opacity: 90%;
}
