.section_gallery {
  padding: 4.8rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 35px;

  //   justify-content: center;
  //   justify-items: center;
  //   align-content: center;
  //   align-items: center;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: flex;
  width: 255px;
  height: 330px;
  //   width: 80%;
  transition: all;
}
.gallery-item img:hover {
  transform: scale(1.2);
}

.gallery-img {
  width: 9.4rem;
}
