.header {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #FFF;

  height: 9.6rem;
  padding: 0 !important;
  // max-width: 1300px;
}

.logo {
  font-family: Raleway;
  font-size: 3rem;
  // border: 1px solid red;

  justify-content: left;
  font-weight: 800;
  display: flex;
  align-items: flex-start;
}

.logo span {
  color: #17b978;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  // border: 1px solid green;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #293b5f;
  font-weight: 900;
  font-family: "Raleway";
  font-size: 1.2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #17b978;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cat:visited {
  padding: 1.2rem 2.4rem;
  color: #fff;
  border-radius: 50px;
  background-color: #17b978;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cat:active {
  background-color: #148256;
  color: #fff;
}

/* STICY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.92);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
/*MOBILE*/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none; //for beginning hide
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #293b5f;
}

.mobil-menu {
  // color: red;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*BELOW 545px (phones)*/
@media (max-width: 34em) {
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: #148256;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; //et hõivaks kogu ekraani
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    //hide navigation step 1
    opacity: 0;
    // step 2 make unaccessible to mouse and keyboard
    pointer-events: none;
    // step 3 hide from screen readers
    visibility: hidden;
  }

  .nav-open .main-nav {
    //now it is perent element to main-nav
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
