.section-hero {
  padding: 0 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}
