/* 
--- 02 COLORS

- Primary: #17b978
- Tints:
- Shades: #148256
- Accents: 
- Greys:
#555
#6a7695
#f5f4fb


--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px / 16px = 62.5%; Percentage of user's browsers font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; //for hidding slidingin meny
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  // background-color: #f5f4fb;
  overflow-x: hidden; //for hidding slidingin meny
}

/*Helperclass*/
.margin-right-sm {
  margin-right: 1.6rem !important;
  overflow-x: hidden; //for hidding slidingin meny
}

.container {
  /* 1140px */
  max-width: 120rem;
  width: 100%; //max laius ekasutamiseks kasuta protsent sada
  padding: 3.2rem 3.2rem;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  justify-content: space-between; //extra flexi saavutamiseks teis ekonteineri sisse
}

.grid {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 9.6rem;

  // align-items: center; //see tegi footeri jõnksuga
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--2-cols-f {
  grid-template-columns: 1fr 4fr;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.deco-border {
  display: block;
  width: 30px;
  height: 1px;
  background: #17b978;
  margin: 15px auto 30px;
}

/* */
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem hsla(156, 78%, 41%, 0.25); //border inside trick
}

/*BELOW 500px (phones)*/
@media (max-width: 34em) {
  .container {
    /* 544px */
    max-width: 34rem;
    width: 100%; //max laius ekasutamiseks kasuta protsent sada
    padding: 3.2rem 3.2rem;
    margin: 0 auto;
  }
}
